<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nikita.univigame">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/flag"
        android:label="@string/app_name"
        android:roundIcon="@drawable/flag"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".game"
            android:label="@string/title_activity_game"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rezultat"
            android:label="@string/title_activity_rezultat"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>